<p id="notice"><%= notice %></p>

<h3>Tags</h3>

<section id="tag-header">
</section>

<section id="tags-list">
</section>

<script id="tags-list-template" type="text/x-handlebars-template">
  <table>
    <thead>
      <tr>
        <th>Tag Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      {{#each tags}}
        <tr>
          <td>{{name}}</td>
          <td><a href="/tags/{{id}}/edit">Edit</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>


<br>

<%= link_to 'New Tag', new_tag_path, class: "new_tag" %>

<script id="tag-form-template" type="text/x-handlebars-template">
  <form id="new_tag" action="/tags" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="field">
      <label for="tag_name">Tag Name: </label>
      <input type="text" name="tag[name]">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Create Tag" data-disable-with="Create Tag">
    </div>
  </form>
</script>