<p id="notice"><%= notice %></p>

<section id="product-show">
</section>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Delete', product_path(@product), method: :delete %> |
<%= link_to 'Back', products_path %>

<script id="product-show-template" type="text/x-handlebars-template">
  <p>SKU: {{sku}}</p>
  <p>Name: {{name}}</p>
  <p>UOM: {{unitOfMeasure}}</p>
  <p>Price: {{price}}</p>
  <p>Product Category: {{productCategoryName}}</p>
  <p>Product Group: {{productGroupName}}</p>
  <p>Tags: {{#each tags}} {{name}} {{/each}}</p>
</script>
