<h3>Edit Warehouse</h3>

<%#= render 'form', warehouse: @warehouse %>

<section id="warehouse-form">
</section>

<%= link_to 'Back', warehouses_path %>

<script id="warehouse-form-template" type="text/x-handlebars-template">
  <form class="edit_warehouse" id="edit_warehouse" action="/warehouses/{{warehouse.id}}" accept-charset="UTF-8" method="put">
    <input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="field">
      <label for="warehouse_name">Business Name: </label>
      <input type="text" name="warehouse[name]" id="warehouse_name" value="{{warehouse.name}}">
    </div>

    <div class="field">
      <label for="warehouse_contact">Contact: </label>
      <input type="text" name="warehouse[contact]" id="warehouse_contact" value="{{warehouse.contact}}">
    </div>

    <div class="field">
      <label for="warehouse_address1">Address Line 1: </label>
      <input type="text" name="warehouse[address1]" id="warehouse_address1" value="{{warehouse.address1}}">
    </div>

    <div class="field">
      <label for="warehouse_address2">Address Line 2: </label>
      <input type="text" name="warehouse[address2]" id="warehouse_address2" value="{{warehouse.address2}}">
    </div>

    <div class="field">
      <label for="warehouse_city">City: </label>
      <input type="text" name="warehouse[city]" id="warehouse_city" value="{{warehouse.city}}">
    </div>

    <div class="field">
      <label for="warehouse_state">State/Province: </label>
      <input type="text" name="warehouse[state]" id="warehouse_state" value="{{warehouse.state}}">
    </div>

    <div class="field">
      <label for="warehouse_country_id">Country: </label>
      <select name="warehouse[country_id]" id="warehouse_country_id">
        <option value="">Please select</option>
        {{#each countries}}
        {{displayOption this}}
        {{/each}}
      </select><br>
    </div>

    <div class="field">
      <label for="warehouse_postal_code">Postal Code: </label>
      <input type="text" name="warehouse[postal_code]" id="warehouse_postal_code" value="{{warehouse.postal_code}}">
    </div>

    <div class="field">
      <label for="warehouse_email">Email: </label>
      <input type="text" name="warehouse[email]" id="warehouse_email" value="{{warehouse.email}}">
    </div>

    <div class="field">
      <label for="warehouse_phone">Phone: </label>
      <input type="text" name="warehouse[phone]" id="warehouse_phone" value="{{warehouse.phone}}">
    </div>

    <div class="field">
      <label for="warehouse_fax">Fax: </label>
      <input type="text" name="warehouse[fax]" id="warehouse_fax" value="{{warehouse.fax}}">
    </div>

    <div class="field">
      <label for="warehouse_status">Status</label>
      {{#if warehouse.status}}
        <input value="false" type="hidden" name="warehouse[status]" id="warehouse_status">
        <input value="true" type="checkbox" name="warehouse[status]" id="warehouse_status" checked>      
      {{else}}
        <input value="false" type="checkbox" name="warehouse[status]" id="warehouse_status">
        <input value="true" type="hidden" name="warehouse[status]" id="warehouse_status">
      {{/if}}
      <br>
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Edit Warehouse" data-disable-with="Edit Warehouse">
    </div>
  </form>
</script>
