<p id="notice"><%= notice %></p>

<section id="warehouse-show">
</section>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Delete', warehouse_path(@warehouse), method: :delete %> |
<%= link_to 'Back', warehouses_path %>


<script id="warehouse-show-template" type="text/x-handlebars-template">
  <p>Name: {{name}}</p>
  <p>Contact: {{contact}}</p>
  <p>Address: <br>
    {{address1}}, {{address2}}<br>
    {{city}}, {{state}}<br>
    {{countryName}} {{postalCode}}</p>
  <p>Email: {{email}}</p>
  <p>Phone: {{phone}}</p>
  <p>Fax: {{fax}}</p>
  <p>Status: 
    {{#if status}}
    <input type="checkbox" checked disabled>
    {{else}}
    <input type="checkbox" disabled>
    {{/if}}
  </p>
</script>